<mat-spinner
  fxLayoutAlign="center center"
  *ngIf="isLoading"
  color="accent"
></mat-spinner>
<!-- 100px:130px -->
<mat-grid-list cols="4" rowHeight="2:3">
  <div *ngFor="let movie of movies">
    <a [routerLink]="['../detail', movie.imdbID]"
      ><mat-grid-tile style="background-image: url({{movie.Poster}});">
        <!-- (click)="onDetaile(movie.imdbID) -->
        <mat-grid-tile-header> {{ movie.Title }}</mat-grid-tile-header>
      <mat-grid-tile-footer>{{ movie.Year }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </a>
  </div>
</mat-grid-list>
