<mat-spinner
  fxLayoutAlign="center center"
  *ngIf="isLoading"
  color="accent"
></mat-spinner>

<mat-grid-list cols="4" rowHeight="100px:130px">
  <div *ngFor="let movie of movies">
   <a  [routerLink]="['../detail',movie.imdbID]"><mat-grid-tile style="background-image: url({{movie.Poster}});">
 <!-- (click)="onDetaile(movie.imdbID) -->
      <mat-grid-tile-header> {{ movie.Title }}</mat-grid-tile-header>
      <mat-grid-tile-footer>{{ movie.Year }}</mat-grid-tile-footer>

    </mat-grid-tile> </a>
  </div>
</mat-grid-list>


 <!-- <div class="titl">|  </div> --><!-- <img [src]="movie.Poster"> -->
<!--

<div fxLayout fxLayoutAlign="space-evenly center" >
  <ul  *ngFor="let movie of movies">
    <li>
      <div class="arr" >
      <h2>{{movie.Title}}</h2><br>
      <h4>{{movie.Yaer}}</h4>
      </div>
    </li>
  </ul>

<div  class="container" *ngFor="let movie of movies">


  <div  class="card u-clearfix" >

    <div class="card-media">
      <img [src]="movie.Poster" alt="" class="card-media-img" />


    </div>

    <div class="card-body">
      <h2 class="card-body-heading">{{movie.Title}}</h2><br>
      <h4 class="card-body-heading">{{movie.Year}}</h4><br>

      <span>Type : </span> &nbsp; <span>{{movie.Type}}</span>


    </div>

  </div>

</div>
</div>
    <ul class="card-body-stars u-clearfix">
        <li>
          <svg fill="#D3BCA2" height="28" viewBox="0 0 18 18" width="28" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
            <path d="M0 0h18v18H0z" fill="none"/>
          </svg>
        </li>
        <li>
          <svg fill="#D3BCA2" height="28" viewBox="0 0 18 18" width="28" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
            <path d="M0 0h18v18H0z" fill="none"/>
          </svg>
        </li>
        <li>
          <svg fill="#D3BCA2" height="28" viewBox="0 0 18 18" width="28" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
            <path d="M0 0h18v18H0z" fill="none"/>
          </svg>
        </li>
        <li>
          <svg fill="#D3BCA2" height="28" viewBox="0 0 18 18" width="28" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
            <path d="M0 0h18v18H0z" fill="none"/>
          </svg>
        </li>
        <li>
          <svg fill="#D3BCA2" height="28" viewBox="0 0 18 18" width="28" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
            <path d="M0 0h18v18H0z" fill="none"/>
          </svg>
        </li>
      </ul>
 -->
