<div class="alert-danger" fxLayoutAlign="center"  *ngIf="errorMsg">
  <h3>{{ errorMsg }}</h3>
</div>
<mat-spinner
  fxLayoutAlign="center center"
  *ngIf="isLoading"
  color="accent"
></mat-spinner>
<!-- 2:3 -->
<mat-grid-list cols="4" rowHeight="100px:130px" *ngIf="!errorMsg">
  <div *ngFor="let movie of movies">
    <a [routerLink]="['../detail', movie.imdbID]"
      ><mat-grid-tile style="background-image: url({{movie.Poster}});">
        <!-- (click)="onDetaile(movie.imdbID) -->
        <mat-grid-tile-header> {{ movie.Title }}</mat-grid-tile-header>
      <mat-grid-tile-footer>{{ movie.Year }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </a>
  </div>
</mat-grid-list>
